@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rajdhani&display=swap');

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.logo {
  height: 150px;
  width: 200px;
  margin-left: 0px;
}

body {
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
}



form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.label {
  padding: 3vh 0 1vh 0;
}

.input {
  height: 4vh;
  width: 35vw;
  text-align: center;
}

.vinyl-card {
  border: 2px solid black;
}

.container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29vw, 1fr));
  grid-gap: 2vw;

}

.vinyl-img img {
  object-fit: cover;
  width: 28vw;
  height: 28vw;
  text-align: center;
  padding: 1vw;

}