@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Rajdhani&display=swap');

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.logo {
  height: 150px;
  width: 200px;
  margin-left: 0px;
}

body {
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
  background-color: #D9CBB5;

}



form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.label {
  padding: 3vh 0 1vh 0;
}

.input {
  height: 4vh;
  width: 35vw;
  text-align: center;
}



.large-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 45, 0.647);
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
}

.container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  grid-gap: 5vw;

}

.details-container {

  width: 30vw;
  text-align: center;
}

.wish-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;

}

.wish-list-card {
  margin-top: 4vh;
  border: 1px solid black;
  background-color: rgba(101, 101, 99, 0.5);
  width: 30vw;
  padding: 0 0 1.5vh 0;
}

.vinyl-img img {
  object-fit: cover;
  width: 21vw;
  height: 21vw;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 2vh 0;


}

.header {
  display: grid;

  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1604128311556-816dfb846a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  opacity: 0.7;
  height: 35vh;
  border-bottom: 2px solid black;

}

.header-text {
  font-family: 'Lobster', cursive;
  color: rgb(139, 119, 3);
}

.header img {
  object-fit: cover;
  width: 100vw;

}

.header-text {
  font-size: 11vh;

}

.nav-links {

  justify-content: space-evenly;

}

.nav-container {
  justify-content: space-evenly;
  align-self: end;
  background-color: #6E2F1B;
  position: sticky;
  top: 30;
}

.nav-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2.5vh;

}

.nav-text a {
  color: white;
  text-decoration: none;
}

.username-display {
  text-shadow: 0 0 2px #b1a008;
  font-size: 3vh;
}


button {
  font-size: 1.5vw;
  padding: 1vh;
  margin-top: 3vh;
  background-color: rgba(157, 74, 44, 0.5);
  font-family: 'Rajdhani', sans-serif;
  transition: transform .2s;
  cursor: pointer;
}

.card-button {
  font-size: 1vw;
  margin: 0 1vw 0 1vw;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.status-banner {
  background-color: rgba(24, 59, 24, 0.377);
  font-size: 1.75vw;
  font-style: italic;
  color:
    #23221A;
  padding: 1vh;
}

.album-title {
  font-size: 2vh;
  text-shadow: 0 0 2px #9b91289b;
  color: white;
}

.album-details {
  font-size: 1.75vh;
  color: white;
}

.pfp {
  object-fit: cover;
  width: 28vw;
  height: 28vw;
  text-align: center;
  padding: 1vw;
  cursor: pointer;

}

.team {
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;
}

.about-page {
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;

}

h1,
h2 {
  font-family: 'Lobster', cursive;
}