@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Rajdhani&display=swap');

.App {
  text-align: center;
  margin-left: auto;
  margin-right: 5vw;
  margin-bottom: auto;
}

.logo {
  height: 150px;
  width: 200px;
  margin-left: 0px;
}

body {
  margin: 0, 5vw, 0, 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #D9CBB5;
  width: 100vw;

}



form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.label {
  padding: 3vh 0 1vh 0;
}

.input {
  height: 4vh;
  width: 35vw;
  text-align: center;
}



.large-circle-OG {

  background-color: rgba(47, 47, 45, 0.647);
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  border: 2px solid black;
}

.large-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 19px auto;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background:
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}


.container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  grid-gap: 5vw;
}

.details-container {
  width: 30vw;
  text-align: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin: 0 0 0 4vw;
}

.list-card {
  margin-top: 4vh;
  border: 1px solid black;
  background-color: rgba(101, 101, 99, 0.5);
  width: 28vw;
  padding: 0 0 1.5vh 0;
}


.vinyl-img img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 2vh 0;
}



.header {
  display: grid;

  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1604128311556-816dfb846a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  opacity: 0.7;
  height: 35vh;
  border-bottom: 2px solid black;

}

.header-text {
  font-family: 'Lobster', cursive;
  color: rgb(139, 119, 3);
}

.header img {
  object-fit: cover;
  width: 100vw;

}

.header-text {
  font-size: 11vh;

}

.nav-links {

  justify-content: space-evenly;

}

.nav-container {
  justify-content: space-evenly;
  align-self: end;
  background-color: #6E2F1B;
  position: sticky;
  top: 30;
}

.nav-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2.5vh;

}

.nav-text a {
  color: white;
  text-decoration: none;
}

.username-display {
  text-shadow: 0 0 2px #b1a008;
  font-size: 3vh;
}


button {
  font-size: 1.5vw;
  padding: 1vh;
  margin-top: 3vh;
  background-color: rgba(157, 74, 44, 0.5);
  font-family: 'Rajdhani', sans-serif;
  transition: transform .2s;
  cursor: pointer;
}

.card-button {
  font-size: 1vw;
  margin: 3vw 1vw 0 1vw;
}

.vinyl-card {
  opacity: 1.0
}

.vinyl-card:hover {
  opacity: 1.0;
  transform: translateY(-2vh);
  z-index: 20
}


.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.status-banner {
  font-family: 'Lobster', cursive;
  font-size: 4.0vw;
  font-style: italic;
  text-align: left;
  padding: 5vh 0 0 3vw;
}

.wanted-status-banner {
  font-family: 'Lobster', cursive;
  font-size: 4.0vw;
  font-style: italic;
  text-align: left;
  margin-top: 10vh;
  padding: 5vh 0 0 3vw;
}

.sell-container {

  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28vw, 1fr));
}

.trade-container {

  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28vw, 1fr));
}

.circle-text {
  font-size: 1.5vw;
  color: white;
}

.album-title {
  font-size: 2.5vw;
  text-shadow: 0 0 2px #9b91289b;
  color: white;
  font-family: 'Lobster', cursive;
}

.album-title-list {
  font-size: 2.5vw;
  color: black;
  font-family: 'Lobster', cursive;
  padding: 1vw 0 1vw 0;

}

.list-text {
  font-size: 1.75vw;


}

.album-details {
  font-size: 1.75vh;
  color: white;
}

.pfp {
  object-fit: cover;
  width: 28vw;
  height: 28vw;
  text-align: center;
  padding: 1vw;
  cursor: pointer;

}

.team {
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;
}

.about-page {
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;

}

h1,
h2 {
  font-family: 'Lobster', cursive;
}

.wish-list {
  margin-left: auto;
}

.carousel-container {
  display: grid;
  grid-template-columns: 31vw 31vw 31vw;
  grid-template-rows: 40vh 40vh;
  grid-gap: 7vh 2vw;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
  font-style: italic;
}


.article-one img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.article-one {

  grid-column: 1/2;
  grid-row: 1/3;
}

.article-two img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: 2/4;
  grid-row: 1/2;
}

.article-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-column: 2/4;
  grid-row: 1/2;
}

.article-three img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.article-three {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.article-four img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: 3/4;
  grid-row: 2/3;

}

.article-four {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 3/4;
  grid-row: 2/3;
}

h3 {

  padding: 5vw 0 0 0;
}